<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp"><!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]--></div>


<div class="sxp58">
<div class="sxp58left">
<div class="sxp60left"><!--[diy=sxp59left]--><div id="sxp59left" class="area"></div><!--[/diy]--></div>
<div class="sxp60ad"><!--[diy=diypicad0]--><div id="diypicad0" class="area"></div><!--[/diy]--></div>
<div class="sxp58left_bt"><h2>热点推荐</h2><h3><a href="http://www.cy211.cn/article-83.html" target="_blank">2014年高校毕业生自主创业优惠政策一览</a><a href="http://www.cy211.cn/article-52.html">10个最适合创业的新兴行业</a></h3>
</div>
<div class="sxp58left_area">
<!--[diy=sxpleft_area]--><div id="sxpleft_area" class="area"></div><!--[/diy]-->
</div>
<div class="sxp58more"><a target="_blank" href="forum.php">更多精彩</a></div>
</div>
<div class="sxp58right">
<div class="sxp60right"><!--[diy=sxp60right_area]--><div id="sxp60right_area" class="area"></div><!--[/diy]--></div>
<div class="sxp60lie"><!--[diy=sxp60lie]--><div id="sxp60lie" class="area"></div><!--[/diy]--></div>
<div class="sxp58right1"><!--[diy=sxp58right1]--><div id="sxp58right1" class="area"></div><!--[/diy]--></div>
<div class="sxp747"><!--[diy=sxp747]--><div id="sxp747" class="area"></div><!--[/diy]--></div>
<div class="sxp58right_cai">
<h2>排行榜</h2>
<div class="sxp58right_caiarea">
<ol>
<li class="active" id="tab1_1" onmouseover="switchTab('tab1',1,2,'active');"><a href="javascript:">新闻排行榜</a></li>
<li id="tab1_2" onmouseover="switchTab('tab1',2,2,'active');"><a href="javascript:">评论排行榜</a></li>
</ol>
<div class="sxp58right_caiarea2" id="tab1_c_1">
<!--[diy=sxp58right4]--><div id="sxp58right4" class="area"></div><!--[/diy]-->
</div>
<div class="sxp58right_caiarea2" id="tab1_c_2" style="display:none;">
<!--[diy=sxp58right04]--><div id="sxp58right04" class="area"></div><!--[/diy]-->
</div>
</div>
</div>




<div class="sxp58huan">
<h2>探索趣图·创事记</h2>
<div class="sxp58huanarea"><!--[diy=sxp58huanarea]--><div id="sxp58huanarea" class="area"></div><!--[/diy]--></div>
</div>

<div class="sxp58rightad"><!--[diy=sxp58right5]--><div id="sxp58right5" class="area"></div><!--[/diy]--></div>

<div class="sxp58zt">
<h2>精彩专题</h2>
<div class="sxp58ztarea"><!--[diy=sxp58ztarea1]--><div id="sxp58ztarea1" class="area"></div><!--[/diy]--></div>
</div>

<div class="sxp_58rightpic">
<h2>热门图片</h2>
<div class="sxp_58rightpic_area"><!--[diy=sxp_58rightpic]--><div id="sxp_58rightpic" class="area"></div><!--[/diy]--></div>
</div>


<div class="sxp58right_cai">
<h2>论坛BBS</h2>
<div class="sxp58right_caiarea">
<ol>
<li class="active" id="tabe1_1" onmouseover="switchTab('tabe1',1,2,'active');"><a href="javascript:">最新发布</a></li>
<li id="tabe1_2" onmouseover="switchTab('tabe1',2,2,'active');"><a href="javascript:">最新回复</a></li>
</ol>
<div class="sxp58right_caiarea2" id="tabe1_c_1">
<!--[diy=sxp58right47]--><div id="sxp58right47" class="area"></div><!--[/diy]-->
</div>
<div class="sxp58right_caiarea2" id="tabe1_c_2" style="display:none;">
<!--[diy=sxp58right047]--><div id="sxp58right047" class="area"></div><!--[/diy]-->
</div>
</div>
</div>

<div class="sxp58pai">
<h2>创业学院</h2>
<div class="sxp58pai_area1"><!--[diy=sxp58pai_area1]--><div id="sxp58pai_area1" class="area"></div><!--[/diy]--></div>
<div class="sxp58pai_area2"><!--[diy=sxp58pai_area2]--><div id="sxp58pai_area2" class="area"></div><!--[/diy]--></div>
</div>

<div class="sxp58rightad"><!--[diy=sxp58right7]--><div id="sxp58right7" class="area"></div><!--[/diy]--></div>

</div>
</div>

<div class="adadad"><!--[diy=diypicad001]--><div id="diypicad001" class="area"></div><!--[/diy]--></div>

<div class="wp"><!--[diy=diy91]--><div id="diy91" class="area"></div><!--[/diy]--></div>
<div class="sxp_youqing">
<div class="sxp_youqing_left"><h2>友情链接</h2></div>
<div class="sxp_youqing_right"><!--[diy=youlian]--><div id="youlian" class="area"></div><!--[/diy]--></div>
</div>

<!--{template common/footer}-->
